{% load static %}
<html>
  <head>
    <title>HeadBook | Home</title>
    <link rel="stylesheet" href="{% static 'css/home-style.css' %}" />
  </head>
  <body>
    <header>
      <content>
        <div class="left">
          <a href=""
            ><img class="header-logo" src="{% static 'logo.png' %}" alt="s"
          /></a>
          <input class="header-search" type="text" placeholder="Search" />
        </div>

        <div class="center">
          <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Friends</a></li>
            <li><a href="">Watch</a></li>
            <li><a href="">Gaming</a></li>
          </ul>
        </div>

        <div class="right">
          <ul>
            <li><a href="">Menu</a></li>
            <li><a href="">Messanger</a></li>
            <li><a href="">Account</a></li>
          </ul>
        </div>
      </content>
    </header>
    <section>{% block section %} {% endblock section %}</section>
  </body>
</html>
