{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static css/all.min.css %}" />
    <link rel="stylesheet" href="{% css/bootstrap.min.css %}" />
    <link rel="stylesheet" href="{% css/styel.css %}" />
    <title>Facebook Form</title>
  </head>
  <body>
    <header>
      <div class="container">
        <div class="row gx-2">
          <div class="col-lg-8 content">
            <img src="{% static images/login-logo.png %}" alt="" />
            <h2 class="fs-3 max-width p-2">
              Facebook helps you connect and share with the people in your life.
            </h2>
          </div>

          <div class="col-lg-4 content login-form shadow-lg p-4">
            <form>
              <div
                class="form-content d-flex flex-column justify-content-center align-items-center"
              >
                <input
                  type="email"
                  placeholder="Email address or phone number"
                  class="w-100 email mb-3"
                  required
                />
                <input
                  type="Password"
                  placeholder="password"
                  class="w-100 email mb-3"
                  required
                />
                <input
                  type="submit"
                  value="Log in"
                  class="w-100 fs-5 fw-bolder email mb-3 btn btn-primary"
                />
                <a href="" class="mb-5 Forgotten text-decoration-none"
                  >Forgotten Message?</a
                >
                <button class="btn create fw-bolder">Create New Account</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </header>

    <script src="{% static js/all.min.js %}"></script>
    <script src="{% static js/bootstrap.bundle.min.js %}"></script>
    <script src="{% static js/script.js %}"></script>
  </body>
</html>
