*{
    margin: 0px;
    padding: 0px;
    font-size: 25px;
    text-decoration: none;
    color: white;
  }
  html{
    width: 100%;
    height: 100%;
    font-family: sans-serif;
  }
  body{
      background: #18191A;
    height: 100%;
  }
  body header {
    background: #242526;
    height: 7%;
    width: 100%;
  }
  body header content {
    display: grid;
    height: 100%;
    grid-template-columns: auto auto auto;
    justify-content: space-between;  
    align-content: center;
  }
  body header content .left{
    margin: auto;
    display: flex;
  }
  body header content .left .header-logo {
    display: flex;
    width: 50px;
    height: 50px;
  }
  body header content .left .header-search {
    margin:auto;
  }
  body header content ul {
    height: 100%;
    display: flex;
    list-style-type: none;
  }
  body header content ul li{
    margin-left: 10px;
    width: auto;
    min-width: 100px;
    margin: auto;
    text-align: center;
    overflow: hidden;
    top: 50%;
  }
  body header content ul li:hover{
    background: #3A3B3C;
    
  }
  body header content ul li a {
    display: grid;
    height: 70px;
    align-items: center;
    margin: auto;
  }
  body header content .left input {
    height: 35px;
    background: #3A3B3C;
    border: 0px;
    border-radius: 25px;
    font-size: 20px;
  }
  input:focus {
    outline: none;
  }
  
  body section {
    display: grid;
    grid-template-columns: 380px 600px 380px;
    height: 93%;
    width: 100%;
    justify-content: space-between;
  }
  
  body section .left-section {
    padding: 10px;
  
  }
  body section .left-section .option {
    display: flex;
    height: 60px;
    width: 100%;
    text-align: center;
    padding: 10px;
  }
  body section .left-section .option:hover{
    background: #3A3B3C;
  }
  body section .left-section .option .option-image {
    height: 100%;
    display: flex;
  }
  body section .left-section .option .option-image img {
    height: 50px;
    width: 50px;
    margin: auto;
    border-radius: 25px;
  }
  body section .left-section .option .option-name {
    height: 90%;
    display: flex;
  }
  body section .left-section .option .option-name span {
    align-self: center;
  }
  body section .middle-section {
    padding: 10px;
    
  }
  body section .middle-section .post-new{
    padding: 5px;
    background: #242526;
    margin: auto;
  }
  body section .middle-section .post-new .top{
    display: flex;
    margin: auto;
    text-align: center;
    margin: 10px;
  }
  body section .middle-section .post-new .top img{
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 25px;
  }
  body section .middle-section .post-new .top input{
    background: #3A3B3C;
    width: 90%;
    height: 50px;
    border-radius: 25px;
    border: 0px;
    padding: 10px;
  }
  body section .middle-section .post-new input{
    width: 100%;
    height: 40px;
    background: #2374E1;
    margin: auto;
    border-radius: 25px;
    margin-bottom: 10px;
  }
  body section .middle-section .post{
    background: #242526;
    padding: 5px;
    margin-top: 10px;
  }
  body section .middle-section .post .top {
    display: flex;
    border-bottom: 1px solid gray;
    height: 60px;
  }
  body section .middle-section .post .top .left {
    width: 60px;
    height: 60px;
    display: flex;
  }
  body section .middle-section .post .top .left img {
    width: 50px;
    height: 50px;
    margin: auto;
    border-radius: 25px;
  }
  body section .middle-section .post .top .middle {
    width: 100%;
    height: 60px;
    display: block;
  }
  body section .middle-section .post .top .middle div {
    font-size: 20px;
    margin: auto;
    color: gray;
  }
  body section .middle-section .post .top .right {
    width: 150px;
    height: 100%;
  }
  body section .middle-section .post .top .right a{
    font-size: 20px;
    width: 50px;
    margin: auto;
  }
  body section .middle-section .post .top .right a:hover {
    color: #2374E1;
  }
  body section .middle-section .post .post-middle {
  
    padding: 10px;
  }
  body section .right-section {
    padding: 5px;
    margin: 5px;
    display: block;
  }
  body section .right-section .title {
    height: 5%;
  
    width: 100%;
  }
  body section .right-section .title .right span{
    color: gray;
    font-size: 25px;
  }
  body section .right-section .option {
    display: flex;
    height: 70px;
    width: 100%;
  }
  body section .right-section .option .option-image {
    display: flex;
  }
  body section .right-section .option .option-image img{
    width: 50px;
    height: 50px;
    margin: auto;
    border-radius: 25px;
  }
  body section .right-section .option .option-name {
    display: flex;
    height: 65px;
    width: auto;
    margin-left: 5px;
  }
  body section .right-section .option .option-name span {
    margin: auto;
  }