<!-- Start Comments -->
<div class="comment-section">
    <div class="write-comment">
      <div class="comment-img-container">
        <img src="" alt="" class="commenter-profile-img">
      </div>
      <div class="comment-content-container">
        <textarea  class="comment" type="text" oninput="auto_height(this)" placeholder='write a public comment'></textarea>
        <input class="post-comment" type="button">
      </div>
    </div>
    <div class="view-comments">
      <div class="view-comment-profile-picture-container">
        <img class='view-comment-profile-picture' src="" alt="">
      </div>
      
      <div class="view-comment-content">
        <p class="view-comment-profile-name">
           comment.account.full_name 
        </p> 
        <p class="view-comment-content">
           comment.content 
        </p>
      </div>
    </div>
  </div>
  <!-- End Comments -->