{% extends 'base.html' %}
{% block section %}
    <div class="left-section">
        <div class="option">
          <div class="option-image">
            <img class="small-profile-picture" src="/media/{{ user.profile_picture.name }}" alt="">
          </div>
          <div class="option-name">
            <span>{{ user }}</span>
          </div>
        </div>
      
    </div>
    
    <div class="middle-section">
      <div class="post-new">
        <form action="{% url 'add_post' %}" method="post">
          {% csrf_token %}
          <div class="top">
            <img class="small-profile-picture" src="/media/{{ user.profile_picture.name }}" alt="">
            <input name="new-post-content" type="text" placeholder="What's on your mind ?">
          </div>
          <div class="bottom">
            <input type="submit" value="post">
          </div>
        </form>
      </div>
      
      {% include 'post.html' %}
      
    </div>  
    <div class="right-section">
      <div class="title">
        <div class="right">
          <span>Contacts</span>
        </div>
      </div>
      <!-- Friends Card -->
      <div class="option">
          <div class="option-image">
            <img src="static friend.profile_picture" alt="">
          </div>
          <div class="option-name">
            <span>friend.username</span>
          </div>
        </div>
      <!-- End Friends Card -->
      
    </div>
{% endblock section %}